*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 550;
}
a:hover{
    color: #cccccc;
}

/* Nav Bar */

header{
    background-color: #202020;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 1% 1% ;
}
.long-logo{
    text-transform: uppercase;
    font-weight: 1000;
}
.short-logo{
    display: none;
    margin-left: 5%;
    text-transform: uppercase;
    font-weight: 1000;
}
.social {
    padding-left: 0.5%;
    display: flex;
    justify-content: flex-end;
}
.social a{
    margin-left: 20%;
}
.linkedin-link:hover i {
    color: rgb(0, 102, 201);
}
.github-link:hover i {
    color: rgb(155, 89, 182);
}
.youtube-link:hover i {
    color: rgb(254, 0, 0);
}

/* Main Body */

section{
    min-height: 100vh;
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121212;
}

/* Card */

.card {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'content content content buttons buttons'
    'content content content buttons buttons'
    'content content content buttons buttons'
    'content content content span span';
    gap: 1%;
    width: 45%;
    padding: 1%;
    margin: 1%;
    background-color: #202020;
}
.card h1 {
    grid-area: header;
    color: #ffffff;
    text-align: center;
}
.card img {
    grid-area: content;
    width: 100%;
}
.card span{
    grid-area: span;
    color: #ffffff;
    text-align: center;
    width: max-content;
    margin: 2.5%;
}
.card pre {
    grid-area: content;
    margin: 2.5%;
    color: #ffffff;
}
.buttons {
    grid-area: buttons;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttons a{
    padding: 10%;
    text-align: center;
    background-color: #121212;
}
.buttons a:hover{
    background-color: #161616;
}

@media only screen and (max-width: 950px) {
    header > .long-logo {
        display: none;
    }
    header > .short-logo {
        display: inline-block;
    }
    section {
        padding-top: 15%;
    }
    section > .card {
        width: 90%;
        grid-template-areas: 
        'header header header header header'
        'content content content content content'
        'content content content content content'
        'content content content content content'
        'buttons buttons buttons buttons buttons'
        'span span span span span';
    }
    .buttons {
        margin: 2%;
        margin-top: 0%;
    }
    .buttons a{
        padding: 5%;
        margin: 2%;
    }
}